<div class="col-10 col-sm-9 col-md-9 col-lg-9">
  <p><%= flash[:notice] %></p>
  <h5><b><%= @team.team_name %>  メンバー一覧</b></h5>
  <br>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>メンバー名</th>
        <th>メールアドレス</th>
        <th>メンバーステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
      </tr>
          <td><%= image_tag member.get_profile_image(100,100), class: "square-image" %></td>
          <td><%= link_to member.screen_name, public_member_path(member.id), class: "custom-link" %> </td>
          <td><%= member.email %> </td>
                        <% if member.is_active %>
            <td><%=  "在籍中" if member.is_active %></td>
              <% else %>
          <td>退職</td>
              <% end %>

      <% end %>
    </tbody>
  </table>
</div>