<div class="col-10 col-sm-9 col-md-9 col-lg-9">
  <p><%= flash[:notice] %></p>
  <h5><b>アカウント情報</b></h5>

  <div class="tblr-px"><%= image_tag @member.get_profile_image(150,150), class: "square-image-big" %></div>

  <h6 class="h6-left"><b>名前</b><br></h6>
  <div class="left-50px">
    <%= @member.screen_name %>
  </div>

  <h6 class="h6-left"><b>所属</b></h6>
  <div class="left-50px">
    <%= @member.team_name %>
  </div>

  <h6 class="h6-left"><b>メールアドレス</b></h6>
  <div class="left-50px">
    <%= @member.email %>
  </div>

  <% if @member == current_member%>
  <div class="tblr-px">
    <%= link_to "編集", edit_public_member_path(@member), class: "btn btn-success" %>
  </div>
  <% end %>

</div><!--col-md-9-->

