<div class="container">
  <div class="col-md-12">
    <p><%= flash[:notice] %></p>

    <h1 class="text-center">
      チームの共有漏れを防ぐ</br>
      タスク管理ツール</br>
    </h1>

    <p class="text-center">
      シェアコミは簡単に企画のスケジュールの登録やタスクの振り分けができる</br>
      運用のための企画管理ツールです。</br>
      <b>一つの企画に対し複数の担当タスクを振り分けできる</b>ことが特徴です。
    </p>
    <br>

    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <span><b>管理者</b></span>
        </div><!--text-center-->

      　<%= link_to "管理者新規登録", new_admin_registration_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :get %>
        <%= link_to "管理者ログイン", new_admin_session_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :get %>
        <%= link_to "管理者ゲストログイン（閲覧用）", admin_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
      </div><!--col-md-6-->

      <div class="col-md-6">
        <div class="text-center">
          <span><b>メンバー</b></span>
        </div><!--text-center-->

      　<%= link_to "メンバーログイン", new_member_session_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :get %>
        <%= link_to "メンバーゲストログイン（閲覧用）", members_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
      </div><!--col-md-6-->
    </div><!--row-->
    <br>

    <p class="text-center">※メンバーは管理者画面の「メンバー追加」から登録できます</p>

  </div><!--col-md-12-->
</div><!--container-->
