<div class="col-10 col-sm-9 col-md-9 col-lg-9">
  <p><%= flash[:notice] %></p>
  <div class="container">
    <h5><b>企画編集</b></h5>

    <%= form_with model: @project, url: public_project_path(@project), method: :patch do |project| %>
    <div class="field">
      <h6 class="h6-left"><b>
        <label for="inputTitle">タイトル</label></b><br>
        <%= project.text_field :project_name, autofocus: true, id:"inputName"%>
      </h6>

      <h6 class="h6-left"><b>
      <label for="inputDetails">内容</label></b><br>
          <%= project.text_area :project_details, autofocus: true, id:"inputDetails" %>
      </h6>

      <h6 class="h6-left"><b>
      <label for="inputDetails">開催日</label></b><br>
          <%= project.datetime_field :start_date_time, autofocus: true, id:"inputDetails" %>
      </h6>

      <h6 class="h6-left"><b>
      <label for="inputDetails">終了日</label></b><br>
          <%= project.datetime_field :end_date_time, autofocus: true, id:"inputDetails" %>
      </h6>
    </div>
    <br>
    <hr>

        <!-- 担当者追加ボタン -->
        <div class="member-task">
          <div class="h6-left">
          <%= link_to_add_association '担当者を追加',
            project,
            :member_tasks,
            partial: "edit_member_task.html",
            data: {
              association_insertion_node: '#member_task-forms',
              association_insertion_method: 'after'
            },
            form_name: 'member_task',
            class: "btn btn-success mr-2" %></div>
        </div><!-- member-task -->

        <!-- 担当者追加する場所 -->
        <div id="member_task-forms">
          <div class="nested-fields">
            <div class="field">

                <!--既存担当表示-->
                <%= project.fields_for :member_tasks do |member_task| %>
                  
                    <%# link_to_add_associationのform_nameで指定した名前。(初期値 : f)  %>

                  <%= render 'edit_member_task_default', member_task: member_task %>

<% end %>
                 

              </table>
            </div><!-- field -->
          </div><!-- nested-fields -->
        </div><!-- member_task-forms -->
        <br>

        <!-- 公開範囲 -->
        <div class="left-50px">
          <h6 class="left-100"><b><%= project.label :public_status, "公開範囲", class: "col-sm-10" %></b></h6>

          <label for="inputRelease">公開</label>
          <%= project.radio_button :public_status, true, checked: (@project.public_status == true), id: "inputRelease" %>
          <label for="inputRelease">下書き保存</label>
          <%= project.radio_button :public_status, false, checked: (@project.public_status == false), id: "inputDraft" %>

          <br>
          <br>
          <div class="field">
          <%= project.submit "上記内容で更新", class: "btn btn-success" %>
          </div>
        </div><!-- left-50px -->
        </h6>

      <% end %>
  </div><!--container-->
</div><!--col-10 col-sm-9 col-md-9 col-lg-9"-->