<div class="col-10 col-sm-9 col-md-9 col-lg-9">
  <div class="container">
    <p><%= flash[:notice] %></p>
    
    <h5><b>新規企画追加</b></h5>

    <%= form_with(model: @project, url: public_projects_path, local: true) do |form|  %>
      <%= form.hidden_field :member_id, value: current_member.id %>

        <%# フォーム部分 %>
        <%= form_with model: @project, url: public_projects_path do |project| %>
          <div class="field">
            <h6 class="h6-left"><b><%= project.label :project_name, 'タイトル' %></b><br>
              <%= project.text_field :project_name %></h6>

            <h6 class="h6-left"><b><%= project.label :project_details, '内容' %></b><br>
              <%= project.text_area :project_details %></h6>

            <h6 class="h6-left"><b><%= project.label :start_date_time, '開始日時' %></b><br>
              <%= project.datetime_field :start_date_time %></h6>

            <h6 class="h6-left"><b><%= project.label :end_date_time, '終了日時' %></b><br>
              <%= project.datetime_field :end_date_time %></h6>
          </div>
          <hr>

 <!-- 担当者追加フォーム -->
<div class="member-task">
  <div class="h6-left">
    <%= link_to_add_association '担当者を追加',
      project,
      :member_tasks,
      partial: "new_member_task.html",
      data: {
        association_insertion_node: '#member_task-forms',
        association_insertion_method: 'after'
      },
      form_name: 'member_task',
      class: "btn btn-success mr-2" %>
  </div>

  <!-- 担当者追加する場所 -->
  <div id="member_task-forms">
    <div class="nested-fields">
      <div class="field">
        <table>
          <thead>
            <tr>
              <th>担当者</th>
              <th>タスク内容</th>
              <th></th>
            </tr>
          </thead>
          
          <!--担当表示-->
          <%= project.fields_for :member_tasks do |member_task| %>
          <% end %>
        </table> <!--  -->
      </div>
    </div>
  </div>

    <hr>
  <!-- 公開範囲 -->
  <div class="left-50px">
    <h6 class="left-100">
      <b><%= project.label:"公開範囲",class:"col-sm-4" %></b>
    </h6>

    <%= project.radio_button :public_status, :true, checked: @project.public_status == true %>
    <%= project.label :public_status, "公開", { value: :true, style: "display: inline-block;" } %>
    <%= project.radio_button :public_status, :false, checked: @project.public_status == false %>
    <%= project.label :public_status, "下書き保存", { value: :false, style: "display: inline-block;" } %>
    <br>

    <%= project.submit '上記内容で追加', class: "btn btn-success" %>
  </div><!-- end of .left-50px -->
</div><!-- end of .member-task -->
  </div><!--container-->
</div><!-- end of .member-task -->
<% end %>
<% end %>
 </div><!--col-md-9-->