<div class="col-11 col-md-8 col-lg-9">
  <p><%= flash[:notice] %></p>
  <div class ="title">
    <h4><b>企画詳細</b></h4>
      <div class ="btn_edit_delete">
      <% if current_member.id == @project.member_id %>
      <%= link_to edit_public_project_path(@project), class: "btn btn-success mr-2", method: :get do %>
        編集
      <% end %>
      <%= link_to "削除", public_project_path(@project.id), class: "btn btn-primary mr-2 text-dark", method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
    </div><!--btn_edit_delete-->
  </div><!--title-->

  <h6 class="h6-left"><b>制作者</b></h6>
  <div class="left-50px">
    <%= @member_project.screen_name %>
  </div>

  <h6 class="h6-left"><b>タイトル</b></h6>
  <div class="left-50px">
    <%= @project.project_name %>
  </div>

  <h6 class="h6-left"><b>内容</b></h6>
  <div class="left-50px">
    <%= @project.project_details %>
  </div>

  <h6 class="h6-left"><b>開始日時</b></h6>
  <div class="left-50px">
    <%= @project.start_date_time&.strftime("%Y/%m/%d %H:%M:%S") %>
      <% if @project.start_date_time.nil?  %>
    <%# メンタータスクの無場合の表示 %>
    <p>未設定</p>
    <% end %>
  </div>

  <h6 class="h6-left"><b>終了日時</b></h6>
  <div class="left-50px">
    <%= @project.end_date_time&.strftime("%Y/%m/%d %H:%M:%S") %>
      <% if @project.end_date_time.nil?  %>
      <%# メンタータスクの無場合の表示 %>
      <p>未設定</p>
      <% end %>
  </div>
  <br>

  <table>
    <thead>
      <tr>
        <th>担当者</th>
        <th>タスク内容</th>
        <th>制作ステータス</th>
      </tr>
    </thead>

    <tbody>

    <% @member_task.each do |member_task| %>
      <tr>
        <td><%= member_task.member.screen_name %></td>
        <td><%= member_task.task %></td>
        <td>
          <% if current_member.id == member_task.member_id %>
            <%= form_with model: member_task, url: public_member_task_path(member_task), method: :patch, local: true do |f| %>
              <%= f.select :making_status, MemberTask.making_statuses.keys.map { |k| [I18n.t("enums.member_task.making_status.#{k}"), k] }, class: "select-color" %>
              <%= f.submit "更新", class: "btn btn-success mr-2" %>
            <% end %>
          <% else %>
            <%= member_task.making_status_i18n %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class ="notice">
  <% if @project.member_tasks.count == 0 %>
    <p>タスクは割り振られていません</p>
  <% end %>
  </div>

  <div class ="notice">
    <p>コメント件数：<%= @project.post_comments.count %></p>
    <% @project.post_comments.each do |post_comment| %>
      <p><%= image_tag post_comment.member.get_profile_image(100,100), class: "square-image" %>
         <b><%= post_comment.member.screen_name %></b>
         <%= post_comment.created_at.strftime("%Y/%m/%d %H:%M") %></p>
      <p><%= post_comment.comment %></p>
    <% end %>
  </div>

  <div class="left-50px">
    <div style="width: 100%;">
      <%= form_with model: [@project, @post_comment], url: public_project_post_comments_path(@project.id) do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", style: "width: 100%;" %><br>
        <%= f.submit "送信", class: "btn btn-success mr-2" %>
      <% end %>
    </div><!--width: 100%-->
  </div><!--left-50px-->

</div><!--col-11 col-md-8 col-lg-9-->