<!DOCTYPE html>
<html>
  <head>
    <title>Share Comi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- FontAwesomeの読み込み -->
    <script src="https://kit.fontawesome.com/87c845a498.js" crossorigin="anonymous"></script>
    <!-- CSSファイルの読み込み -->
    <!--<link rel="stylesheet" href="application.css" />-->
    <!-- Bootstrap CSSの読み込み -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body data-turbolinks="false">
    <header>
      <nav class="navbar navbar-dark navbar-expand-lg">
        <!--ロゴ(常設)-->
        <%- if request.path.match(/\/sign_in(\/)?/) %>
          <a class="navbar-brand" href="/">
            <span><b>Share Comi</span><span class="logo-2"></span></b>
          </a>
        <%- elsif request.path.match(/\/sign_up(\/)?/) %>
          <a class="navbar-brand" href="/">
            <span><b>Share Comi</span><span class="logo-2"></span></b>
          </a>
        <%- elsif request.path.match(/\/admin(\/)?/) %>
          <a class="navbar-brand" href="/">
            <span><b>Share Comi</span><span class="logo-2">管理</span></b>
          </a>
        <%- elsif request.path.match(/\/public(\/)?/) %>
          <a class="navbar-brand" href="/">
            <span><b>Share Comi</span><span class="logo-2">メンバー</span></b>
          </a>
        <% end %>

        <% if request.path == root_path %>
          <a class="navbar-brand" href="/">
            <span><b>Share Comi</b></span>
          </a>
        <% end %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <!--メンバーのヘッダー-->
            <% if member_signed_in? %>
              <%- if request.path.match(/\/public(\/)?/) %>

                <%= link_to new_public_project_path, class: 'btn btn-success btn-sm btn-block mt-2 mr-3 sign_in text-nowrap' do %>
                  <i class="fa-solid fa-plus"></i> 企画追加
                <% end %>

                <%= link_to public_member_path(current_member) do %>
                  <div class="profile-image">
                    <%= image_tag current_member.get_profile_image(100,100), class: "square-image" %>
                  </div>
                <% end %>
              <% end %><!--(/\/public(\/)?/)-->
            <% end %><!--member_signed_in?-->

            <!--admiｎのヘッダー-->
            <% if admin_signed_in? %>
              <%- if request.path.match(/\/admin(\/)?/) %>

                <%= link_to new_admin_team_path, class: 'btn btn-success btn-sm btn-block mt-2 mr-3 sign_in btn-lg text-nowrap' do %>
                  <i class="fa-solid fa-plus"></i> チーム追加
                <% end %>

                <%= link_to new_admin_member_path, class: 'btn btn-success btn-sm btn-block mt-2 mr-3 sign_in btn-lg text-nowrap' do %>
                  <i class="fa-solid fa-plus"></i> メンバー追加
                <% end %>

                 <%= link_to admin_customers_path do %>
                  <%= image_tag current_admin.get_profile_image(100,100), class: "square-image" %></td>
                <% end %>

                <li class="nav-item">
                  <% if current_page?(new_admin_session_path)  %>
                    <%= link_to new_admin_registration_path, class: 'nav-link text-dark' do %>
                      <i class="fas fa-sign-in-alt"></i>新規登録
                    <% end %>
                  <% end %>

                  <%- if request.path.match(/\/sign_up(\/)?/) %>
                    <%= link_to new_admin_session_path, class: 'nav-link text-dark' do %>
                      <i class="fas fa-sign-in-alt"></i>ログイン
                    <% end %>
                  <% end %>
                </li>
              <% end %><!--(/\/admin(\/)?/)-->
            <% end %><!--admin_signed_in?-->
          </ul><!-- navbar-nav ml-auto"-->
        </div><!--collapse navbar-collapse-->
      </nav>
    </header>

    <!--サイドバー-->
    <% if (request.path != root_path) && (request.path !~ /\/sign_in(\/)?/) && (request.path !~ /\/sign_up(\/)?/) %>
      <div class="container-fluid">
        <div class="row">
          <!--<div class="bg-light col-3 col-3 sm-2 col-md-3 col-lg-3" >-->
          <div class="bg-light col-2 col-sm-3 col-md-3 col-lg-3">
            <div class="sidebar">
              <ul class="nav nav-pills flex-column">


                <!--メンバーのサイドバー-->
                <% if member_signed_in? %>
                   <%- if request.path.match(/\/public(\/)?/) %>

                    <li class="nav-item py-2 py-sm-0">
                      <%= link_to public_member_tasks_path, class: 'nav-link text-dark' do %>
                        <i class="fs-5 fa fa-table-list fa-lg"></i>
                        <span class="fs-4 ms-3 d-none d-sm-inline">  自分のタスク一覧</span>
                       (<%= @member_tasks_count %>)件
                      <% end %>
                    </li>

                    <li class="nav-item py-2 py-sm-0">
                      <%= link_to public_projects_path, class: 'nav-link text-dark' do %>
                        <i class="fs-5 fa fa-clipboard fa-lg"></i>
                        <span class="fs-4 ms-3 d-none d-sm-inline">  全ての企画一覧</span>
                      <% end %>
                    </li>

                    <li class="nav-item py-2 py-sm-0">
                      <%= link_to public_project_candidates_path, class: 'nav-link text-dark' do %>
                        <i class="fs-5 fa fa-solid fa-pen fa-lg"></i>
                        <span class="fs-4 ms-3 d-none d-sm-inline">  下書き一覧</span>
                       (<%= @project_drafts_count %>)件
                      <% end %>
                    </li>

                    <li class="nav-item py-2 py-sm-0">
                      <%= link_to public_project_schedules_path, class: 'nav-link text-dark' do %>
                        <i class="fs-5 fa fa-solid fa-calendar fa-lg"></i>
                        <span class="fs-4 ms-3 d-none d-sm-inline">  企画カレンダー</span>
                      <% end %>
                    </li>

                    <li class="nav-item py-3 py-sm-0">
                      <%= link_to public_member_lists_path, class: 'nav-link text-dark' do %>
                        <i class="fs-5 fa fa-users fa-lg"></i>
                        <span class="fs-4 ms-3 d-none d-sm-inline">  メンバー一覧</span>
                      <% end %>
                    </li>

                    <li class="nav-item py-3 py-sm-0">
                      <%= link_to destroy_member_session_path, method: :delete, class: 'nav-link text-dark' do %>
                        <i class="fs-5 fa fa-sign-out-alt fa-lg"></i>
                        <span class="fs-4 ms-3 d-none d-sm-inline">  ログアウト</span>
                      <% end %>
                    </li>

                  <% end %>
                <% end %>

                <!--アドミンのサイドバー-->
                <% if admin_signed_in? %>
                   <%- if request.path.match(/\/admin(\/)?/) %>

                     <li class="nav-item py-3 py-sm-0">
                      <%= link_to admin_teams_path, class: 'nav-link text-dark' do %>
                        <i class="fs-5 fa fa-solid fa-flag fa-lg"></i>
                        <span class="fs-4 md-1 d-none d-sm-inline">  チーム一覧</span>
                      <% end %>
                    </li>

                    <li class="nav-item py-2 py-sm-0">
                      <%= link_to admin_members_path, class: 'nav-link text-dark' do %>
                        <i class="fs-5 fa fa-users fa-lg"></i>
                        <span class="fs-4 ms-3 d-none d-sm-inline">  メンバー一覧</span>
                      <% end %>
                    </li>

                    <li class="nav-item py-2 py-sm-0">
                      <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                        <i class="fs-5 fa fa-sign-out-alt fa-lg"></i>
                        <span class="fs-4 ms-3 d-none d-sm-inline">  ログアウト</span>
                      <% end %>
                    </li>

                  <% end %><!--(/\/admin(\/)?/-->
                <% end %><!--admin_signed_in?-->
              </ul>
            <% end %><!--sign_up(\/)?-->
            <!--<#% end %>-->

          </div><!--bg-dark p-2-->
        </div><!--content-between-->

          <%= yield %>
        </div><!--row flex-nowrap-->
      </div><!--container-fluid-->
   <!--<script src=".Bootstrap/js/bootstrap.bundle.js"></script>-->
  </body>
</html>